body h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: underline;
    font-size: 260%;
    color: rgb(39, 13, 2);
    font-weight: bold;
  }
  body h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 200%;
    font-style: italic;
    color: rgb(56, 19, 3);
  }
  body p{
    font-size: 170%;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .form-group, .genderq{
    font-size: 140%;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  body {
    background-image: url("../images/Ghana1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .container {
    position: absolute;
    right: 0;
    margin: 0;
    max-width: 38%;
    padding: 25px;
    background-color: rgba(201, 216, 195, 0.9);
    max-height: inherit;
  }
  input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  .btn {
    background-color: #1e55ca;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  .btn:hover {
    opacity: 1;
  }
  footer p {
    font-size: 100%;
    text-align: center;
    color: rgba(192, 22, 22, 0.885);
  }